<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>

    {{>header}}

    <h1>All Authors</h1>

    <a href="/authors/new">Add new Author</a><br><br>

    <form action="/authors" method="GET">
        {{>_formSearchAuthor}}
        <button type="submit">Search</button>
    </form>

    <div id="all-authors">
        {{#each authors as |value key|}}
            <div>{{value.name}}</div>
            <a href="/authors/{{value._id}}">View</a>
            <a href="/authors/{{value._id}}/edit">Edit</a>

            <form action="/authors/{{value._id}}?_method=DELETE" method="post">
                <button id="form-delete" type="submit">Delete</button>
            </form>
        {{/each}}
    </div>

</body>
</html>